# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
.venv/Lib/site-packages/pip/_internal/operations/build/
*.manifest
*.spec
.env
.venv/
venv/
ENV/
env/
env.bak/
pip-log.txt
core

# VSCode
.vscode/

# PyCharm
.idea/

# SQLite database
*.db

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
